<div class="container">
    <div class="content">
      <div class="content__container">
        <p class="content__container__text">
          Hello
        </p>
      
        <ul class="content__container__list">
          <li class="content__container__list__item">Misael</li>
          <li class="content__container__list__item">Jose</li>
          <li class="content__container__list__item">Luis</li>
          <li class="content__container__list__item">Marcos</li>
          <li class="content__container__list__item">Maria</li>
        </ul>
      </div>
    </div>
  </div>
